# Backend
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Frontend
node_modules/
dist/
.env
.env.local
.env.production

# Database
*.db
*.db-shm
*.db-wal

# Logs
logs/
*.log
npm-debug.log*
